stages:
- buildpush
- deploy
{% for file in contents -%}
{% if file.type == 'directory' and file.name.startswith('print') %}
{% set shared_dockerfile = false if 'container.Dockerfile' in file.contents|map(attribute='name') else true -%}
{% set script_folder = file.name -%}
{% set dockerfile = 'main.Dockerfile' if shared_dockerfile else script_folder+'/container.Dockerfile' -%}
{{ script_folder }} build:
  stage: buildpush
  image: alpine
  script:
  - echo "build & push"
  only:
    changes:
    - {{ script_folder }}/**/*
    - {{ dockerfile }}

{{ script_folder }} deploy:
  stage: deploy
  image: alpine
  script:
  - echo "deploy"
  only:
    changes:
    - {{ script_folder }}/**/*
    - {{ dockerfile }}
{% endif %}
{%- endfor %}
